* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Work Sans', sans-serif;
  width: 1920px;
  height: 935px;
}

.header {
  width: 100%;
  height: 82px;
  background-color: #3e5b9a;
  border-bottom: 1px solid black;
  display: flex;
  padding: 20px 0 0 0;
}

.Logo {
  width: 1850px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 75px;
  font-weight: 900;
}

.input {
  font-size: 18px;
  width: 225px;
  height: 30px;
  border-radius: 10px;
  border-color: black;
  outline: none;
  margin-top: 13px;
  background-color: #dfdfdf;
  padding-left: 6px;
}

input[name="eMail"] {
  margin-right: 90px;
}

.logIn {
  color: white;
  font-size: 15px;
  text-overflow: clip;
}

span[name="probel"] {
  padding-left: 74px;
}

a[name="losPass"] {
  text-decoration: none;
  color: #9cb4d4;
  margin-left: 54%;
}

a[name="losPass"]:hover {
  text-decoration: underline;
}

.button {
  width: 45px;
  height: 30px;
  border-radius: 10px;
  background-color: #4267b2;
  color: white;
  outline: none;
  margin-left: 10px;
}

.button:hover {
  background-color: #3b5998;
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 75% 25%;
  width: 100%;
  height: 89%;
  background-color: #eceff5;
}

.image img {
  width: 1070px;
  height: 525px;
  margin: 2% 0px 0px 30px;
}

.big {
  font-size: 46px;
  font-weight: 800;
  margin-top: 70px;
  line-height: 1;
}

.paragraph {
  font-size: 22px;
  margin-top: 11px;
  margin-left: 5px;
}

.regNameInput {
  height: 50px;
  margin: 25px 15px 0px 0px;
  font-size: 25px;
}

.regNumbInput {
  width: 470px;
  height: 50px;
  font-size: 25px;
}

.select {
  width: 90px;
  height: 27px;
  margin: 12px 0px 0px 12px;
  font-size: 16px;
  border-color: transparent;
  background-color: #dfdfdf;
  border-radius: 7px;
  outline: none;
}

a[name="birthday"] {
  outline: none;
  color: #365899;
  text-decoration: none;
  font-size: 11px;
}

a[name="birthday"]:hover {
  text-decoration: underline;
}

input[type="radio"] {
  transform: scale(1.5);
  opacity: 0.9;
  cursor: pointer;
  margin: 21px 0px 0px 19px;
}

button[name="SignUp"] {
  width: 200px;
  height: 36px;
  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
  border-radius: 10px;
  font-size: 25px;
  margin: 15px 0px 0px 20px;
  outline: none;
  color: white;
  cursor: pointer;
}

.HR {
  width: 100%;
  margin-top: 16px;
  border-top: 1px solid #d5d5d5;
}

div[name="CreatePage"] {
  margin-top: 10px;
}

a[name="CreatePage"] {
  text-decoration: none;
  color: #365899;
}

a[name="CreatePage"]:hover {
  text-decoration: underline;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100%;
  grid-column: 1 / -1;
  grid-row: 2;
  background-color: #ffffff;
}

.footCont {
  grid-column: 2 / 6;
}

.lenguages {
  margin-top: 5px;
  text-align: center;
}

.lenguageButton {
  text-decoration: none;
  color: #365899;
  font-size: 15px;
  margin-left: 15px;
}

.lenguageButton:hover {
  text-decoration: underline;
}

.ather {
  margin-top: 15px;
}